.userCard {
  display: flex;

  // width: 400px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: chocolate;
}

.userItem {
  display: flex;
}

.userAvatar {
  margin-bottom: 10px;
  border-radius: 10px;
}
