.user {
  display: flex;

  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: chocolate;

  &__details-button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1)
    }
  }

  &__preview-avatar {
    height: 100px;
    width: 100px;
    border-radius: 10px;
  }

  &__item {
    display: flex;
  }

  &__avatar {
    margin-bottom: 10px;
    border-radius: 10px;
  }
}
