.post {
  display: flex;
  justify-content: space-between;

  &__content {
    display: inline-block;
    align-self: center;
    max-width: 500px;

    margin-right: 50px;

    font-size: 16px;
  }

  &__show-details-button {
    width: 150px;
    height: 30px;
    line-height: 30px;

    margin-bottom: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    outline: none;

    cursor: pointer;
    transition: box-shadow 0.3s;

      &:hover {
      box-shadow: 0px 0px 5px 3px rgb(35, 36, 36);
    }

    &--active {
      border: 2px solid blue;
    }
  }

  &__delete-button {
    width: 75px;
    height: 30px;
    line-height: 30px;

    border: none;
    border-radius: 5px;
    outline: none;

    cursor: pointer;
    transition: box-shadow 0.3s;

      &:hover {
      box-shadow: 0px 0px 5px 3px rgb(35, 36, 36);
    }
  }
}